<div layout-fill ng-init="vm.initCadastroProduto()" ng-cloak>
    <div layout="row" layout-align="center start">
        <div flex="80"  class="md-whiteframe-6dp">
            <md-toolbar>
                <div class="md-toolbar-tools" layout="rows">
                <h2>
                    <span ng-hide="vm.isShow">Cadastrar</span>
                    <span ng-show="vm.isShow">Editar</span>
                </h2>
                <span flex></span>
                <div ng-show="(vm.listaProduto.length > 0)">
                    <md-button class="md-accent" ng-click="vm.mostrarGradeProduto()"> {{ vm.textBtnMostrarGrade }} </md-button>
                </div>
            </div>

            </md-toolbar>
            <md-content class="md-padding">
                <form name="produtoForm" data-ng-submit="vm.cadastrarProduto(vm.Produto)">
                    <div layout-gt-sm="column">
                        <div layout="rows">
                            <md-input-container flex>
                                <label>Modelo do Produto</label>
                                <md-select ng-click="vm.alertCadastroModelo()" id="modeloProduto" name="modeloProduto" ng-model="vm.Produto.productModel.id"
                                           required>
                                    <md-option value="{{mod.id}}" ng-repeat="mod in vm.listaModelo">{{mod.name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="rows">
                            <md-input-container>
                                <label>SKU</label>
                                <input name="skuProduto" ng-model="vm.Produto.skuCode" required
                                       md-maxlength="20">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Nome do Produto</label>
                                <input name="nomeProduto" ng-model="vm.Produto.name" required
                                       md-maxlength="40">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container>
                                <label>Tamanho</label>
                                <md-select name="sizeEnumProduto" ng-model="vm.Produto.sizeEnum" required>
                                    <md-option value="X_SMALL">PP</md-option>
                                    <md-option value="SMALL">P</md-option>
                                    <md-option value="MEDIUM">M</md-option>
                                    <md-option value="LARGE">G</md-option>
                                    <md-option value="X_LARGE">GG</md-option>
                                    <md-option value="XX_LARGE">GGG</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Variação</label>
                                <input name="variationProduto" ng-model="vm.Produto.variation" required
                                       md-maxlength="40">
                            </md-input-container>

                        </div>
                        <div class="box" ng-show="vm.listMaterial.length > 0">
                        <div ng-repeat="materiaPrima in vm.listMaterial" layout="column">
                            <div class="chip">
                                <span ng-show="materiaPrima.isShow"><b>{{materiaPrima.material.name}} - </b></span>
                                <span ng-show="materiaPrima.isShow">{{materiaPrima.quality}}</span>
                                <span ng-show="materiaPrima.isShow"><a ng-click="vm.alertDeleteMateriaPrima(materiaPrima)"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaElEQVQ4T2NkwA4WMDAwxKNJgcQS0ZUzQgUcGBgY9uMwDJewIwMDwwGYAQYMDAwTSDSggIGB4QLMAJBeBSzOxmXmQgYGhgcgSWQDSPEG2PmjBoyGweBMB6CUuYGBgcGfQKYC5YMEmBoAfNQgEXHOeoIAAAAASUVORK5CYII="></a></span>
                                <span ng-hide="materiaPrima.isShow">Deletar?</span>
                                <md-button md-no-ink class="md-primary" ng-hide="materiaPrima.isShow" ng-click="vm.removerMateriaPrima($index,materiaPrima)">Sim</md-button>
                                <md-button md-no-ink class="md-primary" ng-hide="materiaPrima.isShow" ng-click="vm.alertDeleteMateriaPrima(materiaPrima)">Não</md-button>
                            </div>
                        </div>
                        </div>

                        <div layout-align="end center" layout="rows">
                            <md-button name="btnLimpar" ng-click="vm.resetFormProduto()" class="md-raised md-primary">Limpar</md-button>
                            <span flex></span>
                            <div ng-show="vm.isShow" layout="rows">
                                <md-button name="btnExcluirProduto" class="md-raised md-primary" aria-label="Remove" ng-click="vm.excluirProduto($event, vm.Produto)">Excluir</md-button>
                                <md-button name="btnAlterarProduto" type="submit" class="md-primary"
                                           ng-class="{'md-primary md-raised': (produtoForm.$dirty && produtoForm.$valid) }"
                                           aria-label="Submit">Alterar</md-button>
                            </div>
                            <div ng-show="(vm.listMaterial.length > 0 && !vm.isShow)">
                                <md-button name="btnCadastrarProduto" type="submit" class="md-primary"
                                           ng-class="{'md-primary md-raised': (produtoForm.$dirty && produtoForm.$valid) }"
                                           aria-label="Submit">Cadastrar</md-button>
                            </div>
                        </div>
                    </div>
                </form>

                <div layout-align="center center" layout="row" ng-show="vm.isVisibleGradeProduto">
                    <div class="md-whiteframe-6dp" flex="80">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2>
                                    <span>Lista de Produto</span>
                                </h2>
                            </div>
                        </md-toolbar>
                        <md-content class="md-padding" flex>
                            <div class="containerDiv">
                                <div class="rowDivHeader">
                                    <div class="cellDivHeader" ng-click="vm.ordenaProduto('name')">PRODUTO</div>
                                    <div class="cellDivHeader" ng-click="vm.ordenaProduto('skuCode')">SKU</div>
                                </div>
                                <div class="rowDiv" ng-repeat="produto in vm.listaProduto | orderBy:vm.campoOrdencao:vm.reverse | filter: vm.Produto.name">
                                    <div class="cellDiv" ng-click="vm.selecionarProduto(produto)">{{ produto.name}}</div>
                                    <div class="cellDiv" ng-click="vm.selecionarProduto(produto)">{{produto.skuCode}}</div>
                                </div>
                            </div>
                        </md-content>
                    </div>
                </div>


                <div flex="100" class="md-whiteframe-4dp" layout-align="center start">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>
                                <span>Composição do Produto</span>
                            </h2>
                        </div>
                    </md-toolbar>
                    <div layout="row">
                        <md-input-container>
                            <label>Composição</label>
                            <input name="nameMateriaPrima" ng-focus="vm.showListMateriaPrima()" ng-model="vm.materiaPrima.material.name" required
                                   md-maxlength="40">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Quantidade</label>
                            <input name="quantityMateriaPrima" id="quantityMateriaPrima" ui-number-mask="0" ng-model="vm.materiaPrima.quantity" required>
                        </md-input-container>
                    </div>
                    <div flex layout-align="end start"><md-button name=addMateriaPrima" class="md-raised md-primary" aria-label="Compor Produto" ng-click="vm.adicionarMateriaPrima(vm.materiaPrima)">Compor</md-button></div>
                </div>
            </md-content>
        </div>
    </div>
    <div layout-align="center center" layout="row" ng-show="vm.isVisibleGradeMateriaPrima">
        <div class="md-whiteframe-6dp" flex="80">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Lista de Materia Prima Cadastrada</span>
                    </h2>
                </div>
            </md-toolbar>
            <md-content class="md-padding" flex>
                <div class="containerDiv">
                    <div class="rowDivHeader">
                        <div class="cellDivHeader" ng-click="vm.ordenaMateriaPrima('name')">MATÉRIA PRIMA</div>
                        <div class="cellDivHeader" ng-click="vm.ordenaMateriaPrima('skuCode')">SKU</div>
                    </div>
                    <div class="rowDiv" ng-repeat="materiaprima in vm.listaBuscaMateriaPrima | orderBy:vm.campoOrdencao:vm.reverse | filter: vm.materiaprima.name">
                        <div class="cellDiv" ng-click="vm.selecionarMateriaPrima(materiaprima)">{{ materiaprima.name}}</div>
                        <div class="cellDiv" ng-click="vm.selecionarMateriaPrima(materiaprima)">{{materiaprima.skuCode}}</div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>


</div>
