<div layout-fill ng-init="vm.initcadastroMateriaPrima()" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Fábrica de Roupas</span>
            </h2>
        </div>
    </md-toolbar>
    <br>
    <br>
    <div layout="row" layout-align="center start">
        <div flex="60"  class="md-whiteframe-6dp">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Cadastro de Matéria Prima</span>
                    </h2>
                </div>
            </md-toolbar>

            <md-content class="md-padding">

                <form name="materiaPrimaForm" data-ng-submit="vm.cadastrarMateriaPrima(vm.materiaprima)">
                    <div layout-gt-sm="column">
                        <div layout="row">
                            <md-input-container flex>
                                <label>Matéria Prima</label>
                                <input name="nomeMateriaPrima" ng-model="vm.materiaprima.name" required>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <div>
                                <md-input-container class="md-block">
                                    <label>SKU</label>
                                    <input name="skuMateriaPrima" ng-model="vm.materiaprima.skuCode" required>
                                </md-input-container>
                            </div>
                            <span flex></span>
                            <div layout-gt-sm="column">
                                <md-input-container>
                                    <label>Unidade de medida</label>
                                    <select name="unidadeMateriaPrima" ng-model="vm.materiaprima.measuringUnit" required>
                                        <option value="PIECES">Unidades/Peças</option>
                                        <option value="KG">Kg</option>
                                        <option value="METER">Metro</option>
                                        <option value="SQUARE_METER">Metro quadrado</option>
                                    </select>
                                </md-input-container>
                            </div>
                            <!--                            <div layout-gt-sm="column">
                                                            <md-input-container>
                                                                <label>Categoria</label>
                                                                <select name="unidadeMateriaPrima" ng-model="vm.materiaprima.materialCategory"
                                                                        ng-options="vm.materialCategories" required>
                                                                    <option>Nulo</option>
                                                                </select>
                                                            </md-input-container>
                                                        </div>-->
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <label>Observações</label>
                                <textarea name="observacaoMateriaPrima" ng-model="vm.materiaprima.description" md-maxlength="200" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>

                        <div layout-align="end center" layout="rows">
                            <md-button class="md-raised md-primary">Sair/Cancelar</md-button>
                            <span flex></span>
                            <div ng-show="vm.isBtnRemoveMateriaPrima">
                                <md-button name="btnExcluirMateriaPrima" class="md-raised md-primary" aria-label="Remove" ng-click="vm.excluirMateriaPrima($event, vm.materiaprima)">Excluir</md-button>
                            </div>
                            <md-button name="btnCadastrarMateriaPrima" type="submit" class="md-primary"
                                       ng-class="{'md-primary md-raised': (materiaPrimaForm.$dirty && materiaPrimaForm.$valid) }"
                                       aria-label="Submit">Cadastrar</md-button>
                        </div>
                    </div>
                </form>
            </md-content>

        </div>
    </div>

    <br>

    <div layout-align="center center" layout="row">
        <div class="md-whiteframe-6dp" style="min-height: 100px; overflow: auto; font-family: inherit; font-size: 100%;">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Lista de Materias Prima Cadastrada</span>
                    </h2>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <div class="containerDiv">
                    <div class="rowDivHeader">
                        <div class="cellDivHeader" ng-click="vm.ordenaMateriaPrima('name')">MATÉRIA PRIMA</div>
                        <div class="cellDivHeader" ng-click="vm.ordenaMateriaPrima('skuCode')">SKU</div>
                    </div>
                    <div class="rowDiv" ng-repeat="materiaprima in vm.listaMateriaPrima| orderBy:vm.campoOrdencao:vm.reverse | filter:vm.materiaprima.name">
                        <div class="cellDiv" ng-click="vm.selecionarMateriaPrima(materiaprima)">{{ materiaprima.name}}</div>
                        <div class="cellDiv" ng-click="vm.selecionarMateriaPrima(materiaprima)">{{materiaprima.skuCode}}</div>
                    </div>
                </div>
            </md-content>
        </div>

    </div>

</div>
