<div layout-fill ng-init="vm.initCadastroCliente()" ng-cloak>
    <div layout="row" layout-align="center start">
        <div flex="80" class="md-whiteframe-6dp">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span ng-show="vm.isShow">Cadastrar Cliente</span>
                        <span ng-hide="vm.isShow">Editar Cliente</span>
                    </h2>
                    <span flex></span>
                <span ng-show="(vm.listaCliente.length > 0)">
                    <md-button class="md-accent" ng-click="vm.showGradeCliente()"> {{ vm.textBtnMostrarGradeCliente }} </md-button>
                </span>
                </div>
            </md-toolbar>

            <md-content class="md-padding">
                <form name="ClientForm" data-ng-submit="vm.cadastrarCliente(vm.Client)">
                    <input name="success" ng-hide="true" ng-model="vm.success">
                    <md-input-container flex>
                        <label>Tipo</label>
                        <md-select name="typeClient" ng-model="vm.Client.type" required>
                            <md-option value="F">Pessoa Física</md-option>
                            <md-option value="J">Pessoa Jurídica</md-option>
                        </md-select>
                    </md-input-container>
                    <div layout-gt-sm="column" ng-hide="(vm.Client.type === '' || vm.Client.type === undefined )">
                        <div layout="row">
                            <md-input-container flex>
                                <label>Nome</label>
                                <input name="nomeClient" ng-model="vm.Client.name" required
                                       md-maxlength="80">
                            </md-input-container>
                        </div>
                        <div layout="row" ng-show="(vm.Client.type === 'F')">
                            <md-input-container flex>
                                <label>CPF</label>
                                <input name="cpfClient" ui-br-cpf-mask ng-model="vm.Client.cpf"/>
                            </md-input-container>
                            <md-input-container flex>
                                <label>RG</label>
                                <input name="rgClient" ui-br-ie-mask ng-model="vm.Client.rg">
                            </md-input-container>
                        </div>
                        <div layout="row" ng-show="(vm.Client.type === 'J')">
                            <md-input-container flex>
                                <label>CNPJ</label>
                                <input name="cnpjClient" ui-br-cnpj-mask ng-model="vm.Client.cnpj"/>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Inscrição Estadual</label>
                                <input name="ieClient" ui-br-ie-mask ng-model="vm.Client.ie">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <label>Telefone</label>
                                <input name="phoneNumberClient" ui-br-phone-number ng-model="vm.Client.phoneNumber"/>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Celular</label>
                                <input name="cellNumberClient" ui-br-phone-number ng-model="vm.Client.cellNumber">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="66">
                                <label>Endereço (Rua/Avenida)</label>
                                <input name="addressClient" ng-model="vm.Client.address">
                            </md-input-container>
                            <md-input-container flex="33">
                                <label>Numero</label>
                                <input name="numberClient" ng-model="vm.Client.number">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="66">
                                <label>Bairro</label>
                                <input name="neighborhoodClient" ng-model="vm.Client.neighborhood">
                            </md-input-container>
                            <md-input-container flex="33">
                                <label>CEP</label>
                                <input name="cepClient" ui-br-cep-mask ng-model="vm.Client.cep">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="66">
                                <label>Cidade</label>
                                <input name="cityClient" ng-model="vm.Client.city">
                            </md-input-container>
                            <md-input-container flex="33">
                                <label>Estado</label>
                                <md-select name="stateClient" ng-model="vm.Client.state">
                                    <md-option ng-repeat="state in vm.listaEstados" value="{{state.Sigla}}">
                                        {{state.Nome}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex>
                                <label>Email</label>
                                <input name="emailClient" type="email" ng-model="vm.Client.email">
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container flex>
                                <label>Observações</label>
                                <textarea name="obsClient" ng-model="vm.Client.obs" md-maxlength="200" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>

                        <div layout-align="end center" layout="rows">
                            <md-button name="btnNovoCliente" ng-click="vm.resetFormCliente()" class="md-raised md-primary">Novo</md-button>
                            <span flex></span>
                            <div layout="rows" ng-hide="vm.isShow">
                                <md-button name="btnExcluirClient" class="md-raised md-primary" aria-label="Remove" ng-click="vm.excluirCliente($event, vm.Client)">Excluir</md-button>
                                <md-button name="btnCadastrarClient" type="submit" class="md-primary"
                                           ng-class="{'md-primary md-raised': (ClientForm.$dirty && ClientForm.$valid) }"
                                           aria-label="Submit">Alterar</md-button>

                            </div>
                            <div ng-show="vm.isShow">
                                <md-button name="btnCadastrarClient" type="submit" class="md-primary"
                                           ng-class="{'md-primary md-raised': (ClientForm.$dirty && ClientForm.$valid) }"
                                           aria-label="Submit">Cadastrar</md-button>
                            </div>
                        </div>
                    </div>
                </form>
                <div layout-align="center center" layout="row" ng-show="vm.isVisibleGradeCliente">
                    <div class="md-whiteframe-6dp" flex="80">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2>
                                    <span>Clientes Cadastrados</span>
                                </h2>
                            </div>
                        </md-toolbar>
                        <md-content class="md-padding" flex>
                            <div class="containerDiv">
                                <div class="rowDivHeader">
                                    <div class="cellDivHeader" ng-click="vm.ordenaCliente('name')">Nome</div>
                                </div>
                                <div class="rowDiv" ng-repeat="cliente in vm.listaCliente | orderBy: vm.campoOrdencao:vm.reverse | filter:vm.cliente.name">
                                    <div class="cellDiv" ng-click="vm.selecionarCliente(cliente)">{{ cliente.name}}</div>
                                </div>
                            </div>
                        </md-content>
                    </div>
                </div>
            </md-content>
        </div>
    </div>

</div>
