<div layout-fill ng-init="" ng-cloak>
    <div layout="row" layout-align="center start">
        <div flex="80"  class="md-whiteframe-6dp">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>{{ vm.titleForm }}</span>
                    </h2>
                </div>
            </md-toolbar>
            <md-content class="md-padding">

                <form name="consignacaoForm" data-ng-submit="">

                </form>

            </md-content>
        </div>
    </div>

</div>
