
<div layout-fill ng-cloak>
    <br>
    <div layout="row" layout-align="center start">
        <div flex="80" class="md-whiteframe-6dp">

            <md-content class="md-padding">
                <div>
                    <h1>
                        Sistema devenvolvido durante a disciplina de Engenharia de Software (MO409).
                    </h1>
                    <h2>
                        Utilizando Scrum e MBTDD.
                    </h2>
                    <h3>Professora Responsável: Eliane Martins</h3>
                </div>
                <h3>Equipe escalada para o desenvolvimento.</h3>
                <div layout="column">
                    <div layout="rows">
                        <div><b>Dandara</b><img class="img_circular" ng-src="../views/img/dandara.jpg" alt="Dandara"/></div>
                        <div><b>Jesus</b><img class="img_circular" ng-src="../views/img/jesus.jpg" alt="Jesus"/></div>
                        <div><b>Pedro</b><img class="img_circular" ng-src="../views/img/pedro.jpg" alt="Pedro"/></div>
                        <div><b>Renan</b><img class="img_circular" ng-src="../views/img/renan.jpg" alt="Renan"/></div>
                    </div>
                    <div div layout="rows">
                            <div> <b>Sueny</b> <img class="img_circular" ng-src="../views/img/su.jpg" alt="Sueny"/></div>
                        <div><b>Vitor</b> <img class="img_circular" ng-src="../views/img/vitor.jpg" alt="Vitor"/></div>
                        <div><b>Vitória</b> <img class="img_circular" ng-src="../views/img/vitoria.png" alt="Vitoria"/></div>
                    </div>

                </div>
            </md-content>
        </div>
    </div>

</div>


