
<div layout-fill ng-cloak>
    <br>
    <div layout="row" layout-align="center start">
        <div flex="80" class="md-whiteframe-6dp">

            <md-content class="md-padding">
                <div flex layout="column" layout-align="center center">
                    <h1>
                        Sistema devenvolvido durante a disciplina de Engenharia de Software (MO409)/1s2016.
                    </h1>
                    <h2>
                        Utilizando Scrum e MBTDD.
                    </h2>
                    <h3>Professora Responsável: Eliane Martins</h3>
                </div>
                <div flex layout="column" layout-align="center center">
                    <h2>Equipe escalada para o desenvolvimento.</h2>
                    <div layout="rows">
                        <span><b>Dandara</b><img class="img_circular" ng-src="../views/img/dandara.png" alt="Dandara"/></span>
                        <span><b>Jesus</b><img class="img_circular" ng-src="../views/img/jesus.png" alt="Jesus"/></span>
                        <span><b>Pedro</b><img class="img_circular" ng-src="../views/img/pedro.jpg" alt="Pedro"/></span>
                        <span><b>Renan</b><img class="img_circular" ng-src="../views/img/renan.jpg" alt="Renan"/></span>
                    </div>
                    <div layout="rows">
                        <span> <b>Sueny</b> <img class="img_circular" ng-src="../views/img/su.jpg" alt="Sueny"/></span>
                        <span><b>Vitor</b> <img class="img_circular" ng-src="../views/img/vitor.jpg" alt="Vitor"/></span>
                        <span><b>Vitória</b> <img class="img_circular" ng-src="../views/img/vitoria.png" alt="Vitoria"/></span>
                    </div>
                </div>
            </md-content>
        </div>
    </div>

</div>


