
<div layout-fill ng-cloak>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div layout="row" layout-align="center start">
        <div flex="80" class="md-whiteframe-6dp">

            <md-content class="md-padding">
                <div>
                    <h1>Sistema devenvolvido durante a disciplina de Engenharia de Software (MO409).</h1>
                    <h3>Professora Responsável: Eliane Martins</h3>
                </div>
                <div>
                    <h3>Equipe escalada para o desenvolvimento.</h3>
                    <p><b>Dandara, Jesus, Pedro, Renan, Sueny, Vitor e Vitória.</b></p>
                </div>

            </md-content>
        </div>
    </div>

</div>


