<div layout-fill ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div></div>
            <h2>
                <B>SISTEMA DE CONTROLE DE ESTOQUE</B>
            </h2>
        </div>
    </md-toolbar>
        <md-tabs md-border-bottom md-selected="selectedIndex" md-dynamic-height>
            <md-tab ng-repeat="tab in tabVisivel" ng-click="vm.setSubMenu(tab.acao)"
                    label="{{tab.titulo}}">
            </md-tab>
        </md-tabs>
    <br><br><br>
        <div ui-view="formulario"></div>
</div>