<div layout-fill ng-init="vm.initFormEstoque('venda')" ng-cloak>
    <div layout="row" layout-align="center start">
        <div flex="80"  class="md-whiteframe-6dp">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>{{vm.titleForm}}</span>
                    </h2>
                </div>
            </md-toolbar>
            <md-content class="md-padding">

                <form name="vendaForm" data-ng-submit="">

                </form>

            </md-content>
        </div>
    </div>

</div>
